[package]
name = "miniconf_mqtt"
version = "0.20.0"
description = "MQTT interface for `miniconf`, using `minimq`"
authors.workspace = true
edition.workspace = true
license.workspace = true
categories.workspace = true
keywords.workspace = true
repository.workspace = true

[lints]
workspace = true

[lib]

[dependencies]
miniconf = { version = "0.20.0", features = [
    "json-core",
    "heapless",
], default-features = false, path = "../miniconf" }
minimq = "0.10.0"
smlang = "0.8"
embedded-io = "0.6"
log = "0.4"
heapless = "0.8"
strum = { version = "0.27.1", features = ["derive"], default-features = false }

[[example]]
name = "mqtt"

[dev-dependencies]
env_logger = "0.11"
std-embedded-nal = "0.4"
tokio = { version = "1.9", features = ["rt-multi-thread", "time", "macros"] }
std-embedded-time = "0.1"
miniconf = { features = ["json-core", "derive"], path = "../miniconf" }
serde = "1"
heapless = { version = "0.8", features = ["serde"] }
