name: Continuous Integration

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

env:
  CARGO_TERM_COLOR: always

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt

      - name: Style Check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - uses: actions/setup-python@v1
      - name: Install Pylint
        run: |
          python -m pip install --upgrade pip
          python -m pip install pylint
      - name: Run Pylint
        working-directory: py/miniconf-mqtt
        run: |
          python -m pip install .
          python -m pylint miniconf


  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: thumbv7em-none-eabihf
          override: true
          components: clippy

      - name: Clippy Check
        uses: actions-rs/cargo@v1
        with:
          command: clippy

  documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: thumbv7em-none-eabihf
          override: true

      - name: Cargo Doc
        uses: actions-rs/cargo@v1
        with:
          command: doc

  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cargo Audit
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta

    steps:
      - uses: actions/checkout@v2

      - name: Install Rust ${{ matrix.toolchain }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          target: thumbv7em-none-eabihf
          override: true

      - name: Cargo Check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --verbose

      - name: Cargo Build [No-Features]
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --no-default-features

      - name: Cargo Build
        uses: actions-rs/cargo@v1
        with:
          command: build

      - name: Cargo Build [Release]
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      - name: Cargo Build [Examples]
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --examples

  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Start Mosquitto
        run: |
          sudo apt-get install mosquitto
          sudo service mosquitto start

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          override: true
          toolchain: stable
          profile: minimal

      - name: Cargo Test
        uses: actions-rs/cargo@v1
        with:
          command: test

  examples:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        example:
          - mqtt
    steps:
      - uses: actions/checkout@v2

      - name: Start Mosquitto
        run: |
          sudo apt-get install mosquitto
          sudo service mosquitto start

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          override: true
          toolchain: stable
          profile: minimal

      - name: Example ${{matrix.example}}
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --example ${{matrix.example}}
